<h2>Comments</h2>
<% @comments.each do |comment| %>
  <p>
    <b>Author:</b>
    <%= comment.author %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.content %>
  </p>
  <p>
    <% if comment.approved? == false && policy(comment).approved? %>
      <%= link_to 'Approve', post_comment_path(@post, comment, comment: { approved: true }), method: :put, data: { confirm: 'Are you sure you want to approve?' }%>
    <% end %>
  </p>
    <p>
    <% if comment.approved? && policy(comment).approved? %>
      <%= link_to 'Disapprove', post_comment_path(@post, comment, comment: { approved: false }), method: :put, data: { confirm: 'Are you sure you want to Disapprove?' }%>
    <% end %>
  </p>
  <p>
    <% if policy(comment).destroy? %>
      <%= link_to 'Destroy', [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>
