<div class="well" id="project_form">
  <fieldset>
<%= form_for(@project, remote: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br/>
    <%= f.text_area :description, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :technologies_used %><br/>
    <%= f.text_field :technologies_used, :class => "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.file_field :image %>
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.text_field :remote_image_url, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= link_to 'Back', projects_path, :class => 'btn btn-default' %>
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
</fieldset>
</div>
