<div class = "container-blog">
  <p id="notice"><%= notice %></p>
  <h1><%= @post.title %></h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <p id="author">
        <b>By:</b>
        <%= @post.author.email %>
        <br/>
        <b>Date:</b>
        <%= l @post.created_at, format: :short %>
      </p>
      <p>
        <b>Body:</b><br />
        <%= @post.body.html_safe %>
      </p>

    </div>
  </div>
  <%= render 'comments/show' %>

  <%= render 'comments/form' %>


  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
  <%= link_to 'Back', posts_path, :class => 'btn btn-default' %>
</div>
